.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .pagination-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.page-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.delete-selected-button {
  margin-right: 28%;
  background-color: #d40816;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 15px 8px 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: roboto;
  border: 0.5px solid white;
  width: 130px;
}
@media screen and (max-width: 768px) {
  .delete-selected-button {
    margin-right: 10px;
    font-size: 12px;
    padding: 4px 8px 4px 8px;
  }
}
.page-numbers-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.navigate-button {
  background-color: lightgrey;
  border: none;
  outline: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.page-number-button {
  background-color: #0967d2;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .navigate-button {
    width: 25px;
    height: 25px;
  }
}

.active-page-number-button {
  background-color: #ffffff;
  color: #0967d2;
  font-weight: bold;
  border: 2px solid #0967d2;
}
