.user-details-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 10px;
  text-align: left;
}
.checkbox-container {
  width: 10%;
}
.user-name {
  width: 25%;
  text-align: left;
}
.user-email {
  width: 25%;
}
.user-role {
  width: 25%;
}
.actions-container {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
.selected-user-item-background-color {
  background-color: lightslategray;
}
.delete-icon {
  cursor: pointer;
}
.edit-icon {
  cursor: pointer;
}
